---
interface Props {
  article: CollectionEntry<"blog">;
  inCarousel?: boolean;
}

import {mdToDate, typeToString } from "../utils";
import type { CollectionEntry } from "astro:content";

const { article } = Astro.props;
const inCarousel = Astro.props.inCarousel || false;


const typeColor = "var(--"+article.data.type + "-color)";

import {
    getLangFromUrl,
    useTranslatedPath,
} from "../../web-data/i18n/utils";


const lang = getLangFromUrl(Astro.url);
const tr = useTranslatedPath(lang);

const path =
  "/" + tr("blog") + "/" + article.slug;


const date = mdToDate(lang, article.data.pubDate);
---


<div class="article-card">
  <a href={path}>
    <div class="article-card-img"></div>
  </a>
  <div class="short-horizontal-separator">
    <div class="short-horizontal-separator-child"></div>
  </div>
  <div class="article-card-date">
    <b class="b">{date.day}</b>
    <b class="month-year">
      <span>
        <p class="month-year-text">{date.month}</p>
        <p class="month-year-text">{date.year}</p>
      </span>
    </b>
  </div>
  <div class="article-card-title-parent">
    <div class="article-card-title">
      {
        inCarousel ? (
          <h3 class="article-card-title-text">{article.data.title}</h3>
        ) : (
          <h2 class="article-card-title-text">{article.data.title}</h2>
        )
      }
    </div>
    <div class="article-card-description">
      <p>
        {article.data.description}
      </p>
    </div>
  </div>
  <div class="article-card-type">
    <b class="article-card-type-text">{typeToString(article.data.type)}</b>
  </div>
</div>

<style define:vars={{ typeColor }}>

  .h2 {




  }
  .article-card-img {
    position: relative;
    top: -2px;
    left: -1px;
    background-color: #d9d9d9;
    width: 319px;
    height: 186px;
  }
  .short-horizontal-separator-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: var(--typeColor);
  }
  .short-horizontal-separator {
    position: absolute;
    top: 345px;
    left: 1px;
    width: 317.2px;
    height: 8.3px;
  }
  .b {
    align-self: stretch;
    position: relative;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    flex-shrink: 0;
  }
  .month-year-text {
    margin: 0;
    text-align: center;
  }
  .month-year {
    align-self: stretch;
    position: relative;
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 10px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 27px;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
  }
  .article-card-date {
    position: absolute;
    top: 124px;
    left: 1px;
    background-color: var(--typeColor);
    width: 70px;
    height: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 1px;
    box-sizing: border-box;
  }
  .article-card-title-text {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;

    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
  }
  .article-card-title {
    align-self: stretch;
    position: relative;
    height: 100%;
  }
  .article-card-description {
    align-self: stretch;
    position: relative;
    font-size: 12px;
    color: #000;
    text-align: justify;
    display: flex;
    align-items: center;
    height: 88px;
    flex-shrink: 0;
  }
  .article-card-title-parent {
    position: absolute;
    top: 198px;
    left: 1px;
    width: 319px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 15px;
    box-sizing: border-box;
    text-align: left;
    font-size: 20px;
    color: var(--typeColor);
  }
  .article-card-type-text {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 22.12px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 133px;
    height: 22px;
  }
  .article-card-type {
    position: absolute;
    top: 0px;
    left: -1px;
    background-color: var(--typeColor);
    width: 130px;
    height: 20px;
    overflow: hidden;
    font-size: 10px;
  }
  .article-card {
    width: max-content;
    background-color: #fff;
    height: 347px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: center;
    font-size: 23px;
    color: #fff;
    font-family: Montserrat;
    position: relative;
  }
</style>
